body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.avatar {
    width: 150px;
    margin: 10px;
    
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

}

img:hover{
    transform: scale(1.5);
    transition: all 200ms linear;
    cursor: zoom-in;
}
.info{
    margin: 20px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #fadce8;
    color: #E27CA2;
    
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-purple {
    border: 5px solid #DBB4D3;
    box-shadow: 10px 5px 5px #cdb4db;
    border-radius: 10px;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

